default tnkrbl
label tnkrbl
  say Tinkerballa: Install Ubuntu
	kernel linux
	append initrd=initrd.gz url=http://{{PUBLIC_IP}}:8000/preseed.cfg locale=en_US console-setup/ask_detect=false keyboard-configuration/layoutcode=us hostname=tnkrbl interface=auto nomodeset
